body, html { overflow-x: hidden; }
body { font-family: 'Open Sans', sans-serif; font-size: 15px; letter-spacing: 0.5px; line-height: 1.5; color: #1c1b1b; }
ul { padding: 0; margin: 0; list-style: none; }
ul li { font-size: 17px; line-height: 1.59; }
a { text-decoration: none; color: #2f2f2f; }
a:hover, a:focus { outline: none; text-decoration: none; }
h1, h2, h3, h4, h5, h6 { font-family: 'Poppins', sans-serif; font-weight: 700; margin-top: 0; }
h1 { font-size: 38px; }
h2 { font-size: 32px; line-height: 1.13; }
h3 { font-size: 26px; }
h4 { font-size: 22px; }
h5 { font-size: 20px; }
h6 { font-size: 18px; }
img { border: none; max-width: 100%; }


/*--------------------*/
/* HEADER */
/*--------------------*/
#mu-header { position: fixed; padding: 15px 0; z-index: 99; width: 100%; transition: all 0.5s; }
.navbar-default .navbar-brand,
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus { color: #fff; font-size: 35px; font-family: 'Poppins', sans-serif; margin-top: 0; width: 120px; line-height: 18px; }
.navbar-brand img { margin-top: -7px; }
.mu-fixed-nav { background-color: #fff; box-shadow: -5px 10px 12px -10px rgba(201, 201, 201, 0.67); }
.navbar-default .navbar-nav > li > a { color: #ffffff; }
.menu-list li a { color: #000 !important; }
.menu-list .active a { color: #b1b1b1 !important; }
#mu-featured-slider::after { position: absolute; content: ""; width: 100%; height: 100%; left: 0; top: 0; background: #000; opacity: 0.85; z-index: 1; }


/*--------------------*/
/* MENU */
/*--------------------*/
.mu-navbar { background-color: transparent; border: none; border-radius: 0; margin-bottom: 0; }
.mu-menu { margin-top: 4px; }
.navbar-default .mu-menu li a { font-size: 15px; font-weight: 400; padding: 0; margin: 10px 15px; transition: all 0.5s; position: relative; }
.navbar-default .mu-menu li a:hover,
.navbar-default .mu-menu li a:focus,
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover { background-color: transparent; color: #b1b1b1; }
.navbar-default .mu-menu li a:hover::after,
.navbar-default .mu-menu li a:focus::after,
.navbar-default .navbar-nav > .active > a:focus::after,
.navbar-default .navbar-nav > .active > a:hover::after { transform: scale(1); }


/*--------------------*/
/* FEATURED SLIDER */
/*--------------------*/
#mu-featured-slider { background-attachment: fixed; background-size: cover; background-position: center center; display: block; background-image: url(./../images/bg.jpg); height: 100vh; position: relative; }
#mu-featured-slider .container { position: absolute; z-index: 2; top: 33%; width: 100%; }
.mu-featured-area { text-align: center; }
.mu-featured-area h1 { font-size: 60px; color: #fff; font-weight: 700; margin-bottom: 0; line-height: 1; }
.mu-featured-slider-wrapper { margin: 50px 0; }
.mu-featured-slider p, #typed { color: #fff; font-size: 30px; font-weight: 300; }
.mu-featured-slider span,
#typed span, .typed-cursor { color: #fff; font-size: 30px; font-weight: 600; }
.mu-featured-content a i { font-size: 30px; fill: #000; color: #fff; }


/*--------------------*/
/* ABOUT US */
/*--------------------*/
#mu-about .container { width: 55%; }
.mu-about-area { box-shadow: 0px 0px 10px 1px rgba(201, 201, 201, 0.67); margin-top: 17%; }
.mu-about-header { text-align: center; padding: 0 120px; }
.mu-heading-title { color: #1c1b1b; margin-bottom: 15px; position: relative; }
.mu-about-content { background-color: #fff; margin-bottom: 150px; margin-top: 70px; padding: 20px; }
.mu-about-content .abstract { margin: 0px 80px; }
.mu-about-content .abstract .title { margin: 25px 0 10px 0; font-size: 18px; }
.mu-about-content .abstract .text { font-size: 16px; line-height: 35px; }
.mu-about-content .information-list { margin-top: 30px; }
.mu-about-content .information-list .item-label { margin-bottom: 15px; }
.mu-about-content .interest-list { list-style: none; margin: 30px 0 0 60px; }
.mu-about-content .interest-list li { height: 60px; }
.mu-about-content .interest-list li span { font-size: 1.7em; width: 50px; color: #9c9fff; position: relative; top: 4px; }



/*--------------------*/
/* SERVICE */
/*--------------------*/
.mu-service-area { margin-top: 14%; }
.mu-service-area .oscar-tab-wrap .tab-content .tabpane { display: none; }
.mu-service-area .oscar-tab-wrap .tab-content .active { display: block; }

/* Progress Bar: Line */
.progress-line { margin-bottom: 20px; }
.progress-line .progress-title { padding-right: 3.8em; }
.progress-line .progress-bar { width: 100%; height: 5px; }
.progress-line svg { top: 0; left: 0; position: absolute; border-radius: 5px; }

/* Progress Bar: Chart */
.progress-chart { text-align: center; }
.progress-chart .progress-title { margin-top: 10px; }
.progress-chart .progress-bar { height: 93px; width: 93px; margin: 0 auto; position: relative; background-color: #ffffff; }
.progress-chart .progress-bar svg { height: 100%; display: block; }

/*--------------------*/
/* CONTACT US */
/*--------------------*/
#mu-contact { background-color: #fff; }
#mu-contact .container { height: 90vh; }
.mu-contact-header { margin-top: 210px; text-align: center; }
.mu-contact-top { margin-top: 60px; }
.mu-contact-top-single { text-align: center; }
.mu-contact-top-single .mu-icon { font-size: 25px; display: inline-block; width: 70px; height: 70px; line-height: 70px; border-radius: 50%; margin-bottom: 15px; color: #fff; background-color: #339999; }
.mu-contact-top-single p { margin-bottom: 0; }

/*--------------------*/
/* FOOTER */
/*--------------------*/
#mu-footer { background-color: #f8f8f8; }
.mu-footer-area { padding: 30px 0; text-align: center; }
.mu-copy-right { margin-bottom: 0; }
.mu-copy-right a { font-weight: 600; -webkit-transition: all 0.5s; -o-transition: all 0.5s; transition: all 0.5s; color: #939393; }

.work-progress-bg * { z-index: 1; position: relative; }
.row.no-gutters { margin: 0; }
.no-gutters > [class*="col"] { padding: 0; }
.oscar-tab-wrap-2 { float: left; width: 100%; margin: 0 0 30px; background-color: #3e3e44; }
.oscar-tab-2 { float: left; width: 100%; padding: 30px 0; text-align: center; background-color: #595959; }
.oscar-tab-2 li { float: none; width: auto; color: #b9b9b9; font-size: 14px; padding: 0; margin: 0; font-weight: normal; display: inline-block; border-left: 1px solid #747474; }
.oscar-tab-2 li:first-child { border-left: none; }
.oscar-tab-2 li a { margin: 0; cursor: pointer; color: currentcolor; padding: 11px 30px 10px; }
.oscar-tab-2 li.active a:hover,
.oscar-tab-2 li.active a:focus,
.oscar-tab-2 li.active a { color: #fff; }
.oscar-tab-2 li.active a { color: #fff; text-shadow: 0 0 0.4px #fff, 0 0px 0.2px #fff; border: none; }
.oscar-tab-2 li a,
.oscar-tab-2 li:hover a,
.oscar-tab-2 li:focus a,
.oscar-tab-2 li a:hover,
.oscar-tab-2 li a:focus,
.oscar-tab-2 li.active a:focus,
.oscar-tab-2 li.active a:hover,
.oscar-tab-2 li.active a { border: none; background-color: transparent; }
.tab-caption-2 { float: left; width: 100%; padding: 100px 50px; background-color: #3e3e44; }
.tab-caption-2 .tab-fancy-heading { color: #fff; }
.tab-caption-2 p { float: left; width: 100%; color: #e0e0e0; margin: 0 0 15px; font-size: 14px; }
.tab-caption-2 p:last-of-type + .btn { margin-top: 17px }

/************************** PROGRESS CIRCULE CSS START*/
.skill-wrap { float: left; width: 100%; }
.circle-progress { float: left; width: 100%; text-align: center; }
.oscar-skills { float: left; width: 100%; padding-top: 20px; text-align: center; }
.oscar-skills .title { float: left; width: 100%; color: #fff; margin: 0 0 58px; font-size: 46px; font-weight: 600; text-align: center; }
.oscar-skills ul { float: left; width: 100%; margin-bottom: 30px; }
.oscar-chart { width: 142px; height: 142px; position: relative; text-align: center; vertical-align: top; display: inline-block; margin: 0px 0px 10px; }
.oscar-chart span { top: 50%; left: 0; right: 0; width: 80px; margin: 0 auto; font-size: 24px; font-weight: 600; line-height: 24px; position: absolute; transform: translateY(-50%); -o-transform: translateY(-50%); -ms-transform: translateY(-50%); -moz-transform: translateY(-50%); -webkit-transform: translateY(-50%); }
.oscar-chart canvas { position: absolute; left: 0; top: 0; }
.circle-progress h5 { float: left; width: 100%; font-size: 18px; line-height: 22px; margin: 0; text-transform: capitalize; }


.oscar-tab-wrap { float: left; width: 100%; margin: 0 0 30px;height:700px; }
.oscar-tab { float: left; width: 100%; margin: 0 0 30px; border-bottom: 2px solid #e0e0e0; }
.oscar-tab li { margin: 0; width: auto; padding: 0 0px; display: inline-block; }
.oscar-tab li a { font-size: 20px; font-weight: normal; text-transform: capitalize; border: none; margin: 0 0 26px; line-height: 20px; padding: 0 20px; }
.oscar-tab li.active a { color: #3e3e44; text-shadow: 0 0 0.4px #3e3e44, 0 0px 0.2px #3e3e44; border: none; }
.oscar-tab li:hover a,
.oscar-tab li:focus a,
.oscar-tab li a:hover,
.oscar-tab li a:focus,
.oscar-tab li.active a:focus,
.oscar-tab li.active a:hover,
.oscar-tab li.active a { border: none; background-color: transparent; }
.oscar-tab li a::after,
.oscar-tab li a::before { left: 0; width: 0; right: 0; height: 2px; content: ''; margin: 0; max-width: 100%; position: absolute; top: calc(100% + 26px); }
.oscar-tab li a::before { -webkit-transition: width .25s cubic-bezier(0.51, 0.18, 0, 0.88) .1s; -o-transition: width .25s cubic-bezier(0.51, 0.18, 0, 0.88) .1s; transition: width .25s cubic-bezier(0.51, 0.18, 0, 0.88) .1s; background: #2FFFAD; }
.oscar-tab li a::after { background: #00b0db; -webkit-transition: width .2s cubic-bezier(0.29, 0.18, 0.26, 0.83); -o-transition: width .2s cubic-bezier(0.29, 0.18, 0.26, 0.83); transition: width .2s cubic-bezier(0.29, 0.18, 0.26, 0.83); }
.oscar-tab li.active > a::after,
.oscar-tab li.active > a::before { width: 100%; left: 0; }
.oscar-tab nav ul > li:hover > a,
.oscar-tab nav ul > li > a:hover { background-color: transparent }


.tab-content { float: left; width: 100%; }
.tab-content .tab-pane .skill-title { color: #2f2f2f; margin-bottom: 20px; }
.tab-content .tab-pane .col-md-4, .col-sm-4, .col-xs-4 { margin-bottom: 50px; }
.tab-content .tab-pane .skill-list { font-weight: bold; }
.tab-content .tab-pane .skill-list li { text-align: left; padding-left: 8em;margin:10px 0; }
.tab-content .tab-pane .skill-list li .fa { margin-right: 25px; }
.tab-content .col-sm-6 { margin-bottom: 50px; }
.tab-caption { float: left; width: 100%; padding: 21px 0; }
.active-years { float: left; width: 100%; font-size: 14px; font-weight: 600; line-height: 14px; }
.tab-simple-heading { float: left; width: 100%; margin: 0; font-weight: 600; font-size: 40px; line-height: 40px; }
.tab-caption p { margin: 0 0 15px; }
.tab-caption p:last-of-type + .btn { margin-top: 17px }
.working-brand-thumb { float: left; width: calc(100% - 40px); margin: 0 0 30px; border-radius: 5px; padding: 30px 30px; background-color: #f9f9f9; -webkit-border-radius: 5px; }
.working-brand .working-brand-thumb:nth-child(even) { float: right; }
.working-brand .working-brand-thumb:nth-child(even) * { color: #fff; }
.working-brand .working-brand-thumb:last-child { margin: 0; }
.working-brand-thumb .thumb { width: 80px; height: 80px; margin-right: 30px; border-radius: 5px; -webkit-border-radius: 5px; background-color: #fff; }
.working-brand-thumb .overflow-text { padding: 5px 0; }
.working-brand-thumb .title { font-size: 30px; font-weight: 400; margin: 0 0 21px; }
.working-brand-thumb .active-years { float: left; width: 100%; font-weight: 400; font-size: 14px; line-height: 14px; }

.mu-skill-progress-bar { margin: 0 40px; }
.mu-skill-progress-bar > span { display: block; margin-bottom: 5px; font-size: 15px; font-weight: 700; text-align: left; }
.mu-skill-progress-bar .mu-pro-bar { width: 100%; margin-bottom: 15px; text-align: center; }
.mu-pro-percentage { display: inline-block; padding: 5px 0; color: #fff; }
.mu-pro-bar .progressbar { position: relative; }
.mu-pro-bar .proggress { width: 10px; }
.mu-pro-bar .percentCount { position: absolute; top: -21px; right: 0; }
